<div class="choose-container">
  <div class="header">
    <img src="logo.jpg" alt="Logo" class="logo">
    <!-- <h2>Welcome to</h2> -->
    <h2>Internships Portal Management</h2>
    

  </div>
  <div class="buttons">
    <button class="Login-button" (click)="navigateToLogin()">Login</button>
    <button class="register-button" (click)="navigateToRegister()">Register As New User</button>
  </div>
  <div class="footer">
    <!-- <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> -->
  </div>
</div>
